<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Danielle Reed Portfolio" content="Portfolio">
    
    
  
    
    <title>Danielle Reed Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"> 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">
    <link href="css/resume.css" rel="stylesheet">

  </head>

  <!--Nav Bar-->
  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Danielle Reed</span>
        <span class="d-none d-lg-block">  
         <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="./img/daniellereed2.PNG">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills-image">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#notebook">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--Intro Page-->
    <div class="container-fluid p-0">
      <section class= "deskimage">
        <img class = "img-responsive" img src = "./img/deskedit.PNG" height="900" width:"800" >
        <div class="text-box name-box">
            <h1 class="mb-0">Hi, I'm Danielle.
              <span class="text-primary"></span>
            </h1>
            <div class="subheading mb-5">
            </div>
            <p class="lead mb-5"> </p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/daniellereed/">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="https://github.com/daniellebeers">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://twitter.com/daniellemadeit">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/xdaniellacatx/">
                <i class="fab fa-instagram"></i>
              </a>
              </div>
            </div>
      </section>

      <!--About Me-->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="about">
      <div class="container-fluid p-0">
        <section class= "aboutme">
          <img class = "img-responsive" img src = "img/aboutme.PNG" height="1027" width:"800">
          <div class="text-box name-box">
              <h2 class="mb-0">I'm a Full Stack Developer.</h2>

              <p class="lead mb-5"> </p>
              <div class="social-icons">
              <a href="https://drive.google.com/open?id=1Q-LL6qC4aVaN8hgN8Doc5fVK9pdMtn_P">
                <i class="far fa-file"></i>
              </a>
            </div>

                <span class="text-primary"></span>
              </h2>
              <div class="subheading mb-5">
              </div>
              <p class="lead mb-5"> </p>
              
              </div>
        </section>
      </section>
  
        <!--Portfolio-->
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="portfolio">
        <div class="container">
          <div class="box" v-for="imgurl in imgs">
            <div class="imgBox">
              <img src="img/yarnover.jpg"height="375" width:"450">
            </div>
            <div class="content">
              <h2>Yarn Over</h2>
              <p>A WebMVC app for tracking yarn, hooks and projects</p>
            </div>
          </div>

              <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/c.PNG" height="375">
                </div>
                <div class="content">
                  <h2><a href="https://github.com/daniellebeers/GoldBadgeChallenges">.NET </h2>
                  <p>Tracking my progress learning C#</p>
                </div>
              </div>
      

            <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/creature.png" height= "370">
                </div>
                <div class="content">
                  <h2><a href="https://codepen.io/drreed/pen/LBNQZq">Creature</h2></a>
                  <p>Created using only CSS</p>
                </div>
              </div>

            <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/cutedogstore.PNG" height="370">
                </div>
                <div class="content">
                  <h2><a href="https://github.com/daniellebeers/StoreAppProject">Cute Dog Ice Cream</h2></a>
                  <p></p>
                </div>
              </div>


              <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/cutedoglogos.PNG" height= "370">
                </div>
                <div class="content">
                  <h2><a href="https://drive.google.com/open?id=1lt26eQMbhcxGekgjABe6y4bzeRKB-m0E">Cute Dog Ice Cream</h2></a>
                  <p></p>
                </div>
              </div>

              <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/tobias.PNG" height= "370">
                </div>
                <div class="content">
                  <h2>Cute Dog Ice Cream</h2>
                  <p></p>
                </div>
              </div>

              <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/concept1.PNG" height= "370">
                </div>
                <div class="content">
                  <h2><a href="https://drive.google.com/open?id=1q-OynxmO0wurarw2P_b310y6ahfQvo2S">Branding Concept</h2></a>
                  <p></p>
                </div>
              </div>

              <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/concept3.PNG" height= "370">
                </div>
                <div class="content">
                  <h2><a href="https://drive.google.com/open?id=1NBhXoy59Rd1oJUC7y2-DizF8iYlIyNgV">Branding Concept</h2></a>
                  <p></p>
                </div>
              </div>

              <div class="box" v-for="imgurl in imgs">
                <div class="imgBox">
                  <img src="img/concept2.PNG" height= "370">
                </div>
                <div class="content">
                  <h2><a href="https://drive.google.com/open?id=1T3FDFN6JFM1xRQUQpV2LZzWQS0dm5Rul">Branding Concept</h2></a>
                  <p></p>
                </div>
              </div>



                            <div class="box" v-for="imgurl in imgs">
                                <div class="imgBox">
                                  <img src="img/.jpg"height="375" width:"400">
                                </div>
                                <div class="content">
                                  <h2>Yarn Over</h2>
                                  <p>A WebMVC app for tracking yarn, hooks and projects</p>
                                </div>
                              </div>
                              <div class="box" v-for="imgurl in imgs">
                                  <div class="imgBox">
                                    <img src="img/.jpg"height="375" width:"400">
                                  </div>
                                  <div class="content">
                                    <h2>Yarn Over</h2>
                                    <p>A WebMVC app for tracking yarn, hooks and projects</p>
                                  </div>
                                </div>
                                <div class="box" v-for="imgurl in imgs">
                                    <div class="imgBox">
                                      <img src="img/.jpg"height="375" width:"400">
                                    </div>
                                    <div class="content">
                                      <h2>Yarn Over</h2>
                                      <p>A WebMVC app for tracking yarn, hooks and projects</p>
                                    </div>
                                  </div>                
                </div>
        </div>

      
        <!--Experience-->

        <section class= "experience">
          <section class= "experience-image">
          <section class="" id="experience">
              <img class = "img-responsive" img src = "img/experience.jpg" height="950" width:"820">
            </section>
              <div class="experience-text">

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Full Time .NET Student</h3>
              <div class="subheading mb-3">Eleven Fifty Academy</div>
              <p>600+ Hours of hands on training and educational experience in C#, Wordpress, PHP, JavaScript, HTML and CSS. 
                <br>Completed group projects, individual portfolio, etc</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"></span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Pre-Planning Advisor</h3>
              <div class="subheading mb-3">Crown Hill Funeral Home and Cemetery</div>
              <p>Advise families with pre-planning cemetery and funeral arrangements for their loved ones. <br>Top performer in a national company, with three months grossing over $100,000.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"></span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Sales Development Representative</h3>
              <div class="subheading mb-3">Angie's List</div>
              <p>Member Sales Representative - accept incoming calls from potential members, converting them to a paid membership,<br> up-selling as the opportunity was available. Based on performance was promoted to Advertising Sales after 7 months.

                  <br>Discovery Representative - reach out to businesses that had been previous advertisers. Re-engaged and re-qualify<br> to create new programs for previous advertisers. Consistently ranked in the top 10% of my 20 person team, and department.
                  
                  <br>Eligibility Representative - cold called new businesses and assist them with becoming eligible to advertise with Angie's List.<br> Tailor the product to meet the needs of the business, and provide a memorable customer service experience.<br> Consistently in the top 20% of a twenty person team and a 100 person department.</p>
            </div>
          </div>
        </section>
      </section>

    

      <!--Education-->
      <section class= "education">
      <section class="" id="education">
          <img class = "img-responsive" img src = "img/education.jpg" height="1000" width:"700">
        <div class="education-text">
          <h2 class="mb-5"></h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Eleven Fifty Academy</h3>
              <div class="subheading mb-3">.NET Development</div>
            </div>
            <div class="resume-date text-md-left">
              <span class="text-primary"></span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Ball State University</h3>
              <div class="subheading mb-3">Bachelor of Sciences - Apparel Design</div>
            </div>
            <div class="resume-date text-md-left">
              <span class="text-primary"></span>
            </div>
          </div>
        </div>
      </section>
    </section>


    

      <!--Skills-->
      <section class="skills" id="skills">
          <img class = "img-responsive" id = "skills-image" src = "img/skills.jpg" height="1000" width:"1000">
        <div class="skills-text">
        <div class="my-auto">
          <h2 class="mb-5"></h2>

          <div class="subheading mb-3"> </div>
          <ul class="list-inline dev-icons">
            
            <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-gulp"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-slack"></i>
            </li>
            <br>
             <!-- <li class="list-inline-item"= id="huffle">
                  <img src="img/hufflepuff.png" height: "200" width: "200"></i>
              </li>
              <li class="list-inline-item" id="infj">
                  <img src="img/infjpersonality.png"></i> -->
              
            </ul>
          </ul>

          <div class="subheading mb-3"></div>
          <ul class="fa-ul mb-0">
            <li>
           <!--   <i class="fa-li fa fa-check"></i>
              </li>
            <li>
              <i class="fa-li fa fa-check"></i>
               </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              </li>
            <li>
              <i class="fa-li fa fa-check"></i>-->
               </li>
          </ul>
        </div>
        </div>
      </section>

      

    <!--ContactForm-->
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
         
          <img id = "notebook" img class = "img-responsive" img src = "img/contact.jpg" height="1000" width:"1600">
         <div class= "contactext">   
          <header>CONTACT ME</header>

    <form id="form" class="topBefore">
        
          <input id="name" type="text" placeholder="NAME">
          <input id="email" type="text" placeholder="E-MAIL">
          <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
      <input id="submit" type="submit" value="SEND">      
    </form>
 
    </div>
  </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
